<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddPNLF_1000000</key>
				<true/>
				<key>NewWay_80000000</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string></string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>false</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x0a268086</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>UEFI internal</string>
					<key>Hidden</key>
					<string>Always</string>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>Other</string>
				</dict>
			</array>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>OSS</string>
	</dict>
<key>Graphics</key>
    <dict>
        <key>EDID</key>
        <dict>
			<key>Custom</key>
				<data>
				AP///////wA0qaKWAAAAAP8XAQSlHRF4ApUhplNTmCULUFQAAAAB
				AQEBAQEBAQEBAQEBAQEBAjqAWHE4DUAsBpIAWMEQAAAeAjqAWHE4
				MEIsBpIAWMEQAAAeAAAA/QAmPkBDDwEKICAgICAgAAAA/ABWVlgx
				M0YwMDlHMDAKAAo=
				</data>
                        <key>HorizontalSyncPulseWidth</key>
                        <string>0x64</string>
                        <key>ProductID</key>
                        <string>0x9C7c</string>
			<key>Inject</key>
			<true/>
        </dict>
            <key>Inject</key>
        <dict>
			<key>Intel</key>
			<true/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 9MB cursor bytes,0x0a260006</string>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAkAA=</data>
			</dict>
			<dict>
                                <key>Comment</key>
                                <string>Second Stage patch</string>
                                <key>Find</key>
                                <data>AQAAdRc=</data>
                                <key>Name</key>
                                <string>IOGraphicsFamily</string>
                                <key>Replace</key>
                                <data>AQAAdBc=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11.dp1+ BT4LE-Handoff-Hotspot</string>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
			</dict>
			<dict> 
				<key>Comment</key> 
				<string>AirPortBrcm4360 from Bcm94352Z</string>
				<key>Find</key>
				<data>cGNpMTRlNCw0M2Ew</data>
				<key>InfoPlistPatch</key> 
				<true/>
				<key>Name</key> 
				<string>AirPortBrcm4360</string> 
				<key>Replace</key> 
				<data>cGNpMTRlNCw0M2Ix</data> 
			</dict>
			<dict>
				<key>Comment</key>
				<string>Bcm94352Z built-in</string>
				<key>Find</key>
				<data>axAAAHUN</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>axAAAJCQ</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Bcm94352Z XT 5G</string>
				<key>Find</key>
				<data>QYP8/3QsSA==</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>ZscGVVPrKw==</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x00</string>
		<key>CsrActiveConfig</key>
		<string>0x10</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Memory</key>
		<dict>
			<key>Channels</key>
			<integer>2</integer>
			<key>SlotCount</key>
			<integer>2</integer>
			<key>Modules</key>
			<array>
                                <dict>
                                        <key>Frequency</key>
                                        <integer>1600</integer>
                                        <key>Part</key>
                                        <string>7F7FFE</string>
                                        <key>Serial</key>
                                        <string>EL000002</string>
                                        <key>Size</key>
                                        <integer>4096</integer>
                                        <key>Slot</key>
                                        <integer>1</integer>
                                        <key>Type</key>
                                        <string>DDR3</string>
                                        <key>Vendor</key>
                                        <string>ELPIDA</string>
                                </dict>
                                <dict>
                                        <key>Frequency</key>
                                        <integer>1600</integer>
                                        <key>Part</key>
                                        <string>7F7FFE</string>
                                        <key>Serial</key>
                                        <string>EL000001</string>
                                        <key>Size</key>
                                        <integer>4096</integer>
                                        <key>Slot</key>
                                        <integer>2</integer>
                                        <key>Type</key>
                                        <string>DDR3</string>
                                        <key>Vendor</key>
                                        <string>ELPIDA</string>
                                </dict>
                        </array>
		</dict>
		<key>ProductName</key>
		<string>MacBookAir6,2</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
</dict>
</plist>
